@import './../../styles/variables.scss';
$primary-color: $loaderColor;
@import 'loaders.css/src/animations/ball-grid-pulse.scss';

.preload-image {
    height: 100%;
    width: auto;
}
.preload-wrapper {
    height: auto;
    width: 57px;
    top: 50%;
    position: relative;
    margin-top: -50%;
}