.avengers-list {
    margin: 0 auto;
    padding: 0;
    width: 80%;
}
.avengers-list-title {
    text-align: left;
}
.avengers-list-container {
    height: auto;
    display: inline-block;
    margin: 0 0 20px 0;
}

.avengers-list-avenger-container {
    height: 300px;
    display: inline-block;
    width: 16.667%; /* for the older browsers fallback */
    width: calc(100% / 6);
}
.selected-avengers .avengers-list-avenger-container {
    width: 33.333%; /* for the older browsers fallback */
    width: calc(100% / 3);
}